        
        <span style="visibility:hidden" id="language_name">
             <%= @language.value rescue ""%>
         </span>
  	
        <!-- main area -->
        <div class="col-xs-12 col-sm-9">
          <div class="jumbotron" style="margin-bottom: 0px;">
              <div id="alter_word_card">
                      <%= render :partial => "shared/update_word_card" , :locals => {:syllabification => @syllabification} %>
              </div>
          </div>

        </div>