  <h5 style="text-align: left"> 
  <%= recent_tag[2] %>  →  <%= recent_tag[3] %>
  <%= link_to( 
              content_tag(:span , "" , :class => "glyphicon glyphicon glyphicon-new-window" ) ,
              show_syllabification_path( recent_tag[1] ) , 
              :class => "btn  btn-xs" , 
              :style => "float: right" ) %>
  </h5>
  <hr>

