  <h5 style="text-align: left"> 
  <%= recent_tag[1] %>  →  <%= recent_tag[2] %>
  <%= link_to( 
              content_tag(:span , "" , :class => "glyphicon glyphicon glyphicon-new-window" ) ,
              "#" , 
              :class => "btn  btn-xs" , 
              :style => "float: right" , 
              :method => :post , 
              :remote => true) %>
  </h5>
  <hr>