<%if word_syllabification_hash.size > 0 %>
	<ul>
		<% word_syllabification_hash.each do |key , value| %> 
			<li><%= key %> → <%= value %></li>
		<%end%>
	</ul>
<% else %>
		Sorry Nothing found!
<% end %>
