
<div id="word" style="font-size: 12.5vmin " >
	<font > <%= word.value %> </font>
</div>


<script type="text/javascript">
$('#word').html('<span>' + $('#word').text().split('').join('</span><span>') + '</span>').find('span').click(function() {
    if ($(this).next().text() == '-') {
        $(this).next().remove();
    } else {
        $(this).after('<span>-</span>');
    }
	}
);
</script>